@model GameStore.Models.Order

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Оголошення
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poster.ID)
        </dd>
        <dt class = "col-sm-2">
            Покупець
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.ID)
        </dd>
        <dt class = "col-sm-2">
            Дата оформлення
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
    </dl>
</div>
<div>
    <p>
        <a asp-action="Edit" asp-route-id="@Model.ID">Редагувати</a>
    </p>
</div>
